a {
  background-image: -webkit-linear-gradient(0deg, #0f0c9c 0%, #f141fa 50%, gold 100%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
